<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.mapper.VendorsMapper">
  <resultMap id="BaseResultMap" type="com.sss.ormbase.autogenerator.model.Vendors">
    <id column="vend_id" jdbcType="CHAR" property="vendId" />
    <result column="vend_name" jdbcType="CHAR" property="vendName" />
    <result column="vend_address" jdbcType="CHAR" property="vendAddress" />
    <result column="vend_city" jdbcType="CHAR" property="vendCity" />
    <result column="vend_state" jdbcType="CHAR" property="vendState" />
    <result column="vend_zip" jdbcType="CHAR" property="vendZip" />
    <result column="vend_country" jdbcType="CHAR" property="vendCountry" />
    <result column="vend_web" jdbcType="CHAR" property="vendWeb" />
  </resultMap>
  <sql id="Base_Column_List">
    vend_id, vend_name, vend_address, vend_city, vend_state, vend_zip, vend_country, 
    vend_web
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from vendors
    where vend_id = #{vendId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from vendors
    where vend_id = #{vendId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.sss.ormbase.autogenerator.model.Vendors">
    insert into vendors (vend_id, vend_name, vend_address, 
      vend_city, vend_state, vend_zip, 
      vend_country, vend_web)
    values (#{vendId,jdbcType=CHAR}, #{vendName,jdbcType=CHAR}, #{vendAddress,jdbcType=CHAR}, 
      #{vendCity,jdbcType=CHAR}, #{vendState,jdbcType=CHAR}, #{vendZip,jdbcType=CHAR}, 
      #{vendCountry,jdbcType=CHAR}, #{vendWeb,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sss.ormbase.autogenerator.model.Vendors">
    insert into vendors
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="vendId != null">
        vend_id,
      </if>
      <if test="vendName != null">
        vend_name,
      </if>
      <if test="vendAddress != null">
        vend_address,
      </if>
      <if test="vendCity != null">
        vend_city,
      </if>
      <if test="vendState != null">
        vend_state,
      </if>
      <if test="vendZip != null">
        vend_zip,
      </if>
      <if test="vendCountry != null">
        vend_country,
      </if>
      <if test="vendWeb != null">
        vend_web,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="vendId != null">
        #{vendId,jdbcType=CHAR},
      </if>
      <if test="vendName != null">
        #{vendName,jdbcType=CHAR},
      </if>
      <if test="vendAddress != null">
        #{vendAddress,jdbcType=CHAR},
      </if>
      <if test="vendCity != null">
        #{vendCity,jdbcType=CHAR},
      </if>
      <if test="vendState != null">
        #{vendState,jdbcType=CHAR},
      </if>
      <if test="vendZip != null">
        #{vendZip,jdbcType=CHAR},
      </if>
      <if test="vendCountry != null">
        #{vendCountry,jdbcType=CHAR},
      </if>
      <if test="vendWeb != null">
        #{vendWeb,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sss.ormbase.autogenerator.model.Vendors">
    update vendors
    <set>
      <if test="vendName != null">
        vend_name = #{vendName,jdbcType=CHAR},
      </if>
      <if test="vendAddress != null">
        vend_address = #{vendAddress,jdbcType=CHAR},
      </if>
      <if test="vendCity != null">
        vend_city = #{vendCity,jdbcType=CHAR},
      </if>
      <if test="vendState != null">
        vend_state = #{vendState,jdbcType=CHAR},
      </if>
      <if test="vendZip != null">
        vend_zip = #{vendZip,jdbcType=CHAR},
      </if>
      <if test="vendCountry != null">
        vend_country = #{vendCountry,jdbcType=CHAR},
      </if>
      <if test="vendWeb != null">
        vend_web = #{vendWeb,jdbcType=CHAR},
      </if>
    </set>
    where vend_id = #{vendId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sss.ormbase.autogenerator.model.Vendors">
    update vendors
    set vend_name = #{vendName,jdbcType=CHAR},
      vend_address = #{vendAddress,jdbcType=CHAR},
      vend_city = #{vendCity,jdbcType=CHAR},
      vend_state = #{vendState,jdbcType=CHAR},
      vend_zip = #{vendZip,jdbcType=CHAR},
      vend_country = #{vendCountry,jdbcType=CHAR},
      vend_web = #{vendWeb,jdbcType=CHAR}
    where vend_id = #{vendId,jdbcType=CHAR}
  </update>
</mapper>